@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Poppins, Roboto, sans-serif;
    --background-color: #242423;
    --main-color: #333533;
    --second-color: #f5cb5c;
    --font-color: #e8eddf;
    --font-color-hover: #cfdbd5;
}
button{
    font-family: inherit;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
/* Navigation Bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding-left: 5%;
    padding-right: 5%;
}
#nameLogo{
    font-size: 1.9rem;
    color: var(--font-color);
    width: 15%;
}
span{
    color: var(--second-color);
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    font-size: 1.2rem;
    display: inline;
    padding: 1rem 2rem;
}
nav ul li a{
    color: var(--font-color);
    text-decoration: none;
    font-weight: 700;
    transition: 1s;
}
nav ul li a:hover{
    color: var(--font-color-hover);
    border-bottom: 0.2rem solid var(--second-color);
    border-radius: 1rem;
    padding: 1rem;
    transition: .5s;
}
#barButton{
    font-size: 1.2rem;
    width: 15%;
    border: none;
    background: var(--font-color);
    padding: 1rem;
    border-radius: 3rem;
    transition: .3s;
}
#barButton:hover{
    color: var(--background-color);
    background-color: var(--font-color-hover);
    transition: .3s;
}
/* Main Content One */
.contentOne{
    display: flex;
    height: 26rem;
    background-color: var(--background-color);
}
.leftDivOne{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.rightDivOne{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.leftContentOne{
    margin-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.rightContentOne{
    filter: grayscale(90%);
    display: flex;
    justify-content: center;
    width: 70%;
    height: 40vh;
}
#contentButton{
    font-size: 1.2rem;
    width: 30%;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--main-color);
    color: var(--font-color);
    transition: .5s;
}
#contentButton:hover{
    background-color: var(--second-color);
    color: var(--background-color);
    transition: .3s;
}
#entryText{
    color: var(--font-color);
    font-size: 3rem;
    width: 100%;
}

/* Main Content Two */
.contentTwo{
    display: flex;
    height: 27rem;
    background-color: var(--main-color);
}
.leftDivTwo{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}
.rightDivTwo{
    display: flex;
    align-items: center;
    width: 50%;
}
.rightContentTwo{
    padding: 5rem;
    color: var(--font-color);
}
.leftContentTwo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}
.icons{
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 0.5rem;
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    height: 80%;
    width: 35%;
}
svg{
    width: 40%;
    display: block;
    margin: auto;
}
.hiddenText{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 1s;
}
.hiddenText > p{
    color: var(--font-color);
    padding: 1.5rem;
}
.hiddenText:hover{
    opacity: 1;
    transition: .5s;
}
.rightContentTwo > h3{
    color: var(--second-color);
    font-size: 1.5rem;
}
.rightContentTwo > h4{
    font-size: 1.2rem;
}

/*Section Three*/
.sectionExpProject{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 27rem;
    background-color: var(--background-color);
}
.featuredBlock{
    width: 50%;
    height: 80%;
    background-color: var(--main-color);
}
.homeImage{
    width: 30%;
    height: 80%;
    background-color: var(--main-color);
}

/*Section Four*/
#sectionProject{
    background-color: var(--main-color);
}
#sectionProject > .featuredBlock{
    background-color: var(--background-color);
}
#sectionProject > .homeImage{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: var(--second-color) solid .2rem;
    border-radius: 2rem;
}
#sectionProject > .homeImage > img{
    flex-shrink: 0;
    object-fit: cover;
    width: 100%;
}
.featuredBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blockText{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    padding: 2.3rem;
    color: var(--font-color);
}
.blockText > h4{
    color: var(--second-color);
    margin-bottom: 0;
    margin-top: 0;
}
.blockText > button{
    border: none;
    border-radius: 2rem;
    height: 2.5rem;
}
.blockText >button:hover{
    background-color: var(--font-color-hover);
}
.blockSkills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.skillBox{
    background-color: var(--main-color);
    width: 80%;
    height: 80%;
    border-radius: 1rem;
}
.skillBox > h3{
    margin-left: 1rem;
    margin-bottom: 0;
    color: var(--font-color);
}
.skillBox > hr{
    color: var(--font-color);
    width: 90%;
}
.skillsField{
    display: flex;
    flex-wrap: wrap;
    margin-left: .6rem;
}
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    color: var(--background-color);
    font-weight: 700;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    height: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    margin: 0.3rem;
    width: fit-content;
    flex-basis: content;
}