body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
}
/* Navigation Bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    padding-left: 5%;
    padding-right: 5%;
}
h2{
    font-size: 1.9rem;
    color: white;
    width: 15%;
}
span{
    color: purple;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    padding: 1rem 2rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
nav ul li a:hover{
    color: purple;
    transition: .5s;
}
button{
    border: none;
    background: red;
    width: 15%;
    padding: 1rem;
    border-radius: 3rem;
}

.leftContent{
    background-color: lightgray;
}
.rightContent{
    background-color: lightblue;
}