@import "homepage.css";

body{
    height: 100vh;
    width: auto;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90%;
}
#formDiv{
    display: flex;
    justify-content: space-evenly;
    background: var(--main-color);
    width: 50%;
    height: 80%;
}
#formText{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
}
h1{
    font-size: 3rem;
    color: var(--font-color);
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}
h2{
    color: var(--second-color);
    margin-top: 0;
    margin-bottom: 0;
}
p{
    color: var(--font-color);
    margin-top: 0;
    margin-bottom: 4rem;
}
label{
    color: var(--font-color);
}
input{
    border-radius: 1rem;
    border: none;
    background-color: var(--font-color);
    height: 5%;
    width: 98%;
    margin-bottom: 1rem;
}
textarea{
    border-radius: .6rem;
    border: none;
    background-color: var(--font-color);
    resize: none;
    height: 7rem;
    width: 98%;
}
input[type="submit"]{
    color: var(--background-color);
    font-family: inherit;
    font-size: 1.1rem;
    margin-top: 2rem;
    border-radius: 2rem;
    border: none;
    height: 3rem;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: var(--second-color);
}

#popUpMenu{
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popUpDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 2rem;
    width: 30rem;
    height: 20rem;
}
#popUpDiv > button{
    width: 60%;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    background-color: var(--font-color);
}