@import "configsheet.css";

.wrapper{
    height: 100vh;
    width: auto;
}
.mainBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 2rem;
    color: var(--font-color);
    background-color: var(--main-color);
    border-radius: 1rem;
    width: 20%;
    height: 30%;
}
button{
    margin-top: 1.2rem;
    height: 3rem;
    width: 85%;
    border-radius: 3rem;
    border: none;
    background-color: var(--second-color);
    color: var(--background-color);
    font-size: 1.2rem;
}
button:hover{
    background-color: var(--background-color);
    color: var(--second-color);
}

input[type='password']{
    accent-color: var(--second-color);
    font-family: inherit;
    font-size: 1.2rem;
    height: 2rem;
    width: 85%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
}