@import "configsheet.css";
@import "homepage.css";

/*Projects section*/
.projectsMain{
    width: 80%;
    background-color: var(--main-color);
    border-radius: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
h1{
    color: var(--font-color);
}
.blockText{
    padding: 0;
}
.blockText > button{
    width: 30%;
}
.projectObject{
    display: flex;
    justify-content: space-evenly;
}
.projectBreak{
    width: 90%;
    border: 1px solid var(--background-color);
}
.homeImage{
    height: 16.5rem;
    align-self: center;
}
.addProjects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10rem;
}
.contentButton{
    height: 3rem;
    width: 10rem;
    padding: 0;
    margin: 0;
    background-color: var(--font-color);
    color: var(--main-color);
}
.hiddenButton{
    display: none;
}
#hiddenLogOut{
    background-color: var(--background-color);
    color: var(--font-color);
}
@media screen and (max-width: 1320px) {
    .homeImage{
        width: clamp(10rem, 70%, 40rem);
        height: 20rem;
    }
    .featuredBlock{
        width: 80%;
        height: 22rem;
    }
    .projectObject{
        flex-direction: column;
        align-items: center;
        height: 40rem;
    }
    .skillsBox{
        width: 50%;
    }
    .contentButton{
        width: 6rem;
        font-size: .8rem;
    }
}
@media screen and (max-width: 680px){
    h1{
        font-size: 1.1rem;
    }
    .projectObject{
        height: 50rem;
    }
    .featuredBlock{
        height: 40rem;
    }
    .blockText{
        height: 40%;
    }
    .blockSkills{
        height: 30rem;
    }
    .skillsBox{
        height: 50rem;
    }
    .homeImage{
        height: 10rem;
    }
    .skill{
        font-size: 0.8rem;
    }
}